HELP.md

# Build
build/
!**/src/main/**/build/
!**/src/test/**/build/

# Environment
.env
!.env.example

# IDE - STS
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr

# Logs
*.log

# Maven
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# Node / npm
node_modules/

# Vaadin generated frontend files
src/main/frontend/generated/
src/main/frontend/index.html
.vaadin-node-tasks.lock
vite.generated.ts